<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>LoginUsername</title>
        <link rel="stylesheet" href="assets\bootstrap\css\bootstrap.min.css">
        <link rel="stylesheet" href="assets\css\styles.min.css">
    </head>
    <body>
        <div class="login-card">
            <img class="profile-img-card" src="assets/img/avatar_2x.png">
            <p class="profile-name-card">INTAN JAYA ELEKTRONIK</p>
            <form class="form-signin" action="/process" method="GET"><span class="reauth-email"> </span>
                <input class="form-control" name="emailUser" type="email" id="inputEmail" required="" placeholder="Email address" autofocus="">
                <input class="form-control" name="passwordUser" type="password" id="inputPassword" required="" placeholder="Password">
                <div class="checkbox">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">Remember me</label>
                    </div>
                </div>
                <input class="btn btn-primary btn-lg d-block btn-signin w-100" type="submit"><!--Sign in</input>-->
            </form>
            <a class="forgot-password" href="#">Forgot your password?</a>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>